body {
	font-family: verdana,helvetica, arial, sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}
a {text-decoration:none; color:#000;}
a:hover {text-decoration:underline;}

:focus {outline:none;}

body, div, p {
	margin: 0;
	padding: 0
}

.header {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background: #035981;
	color: #fff;
	height: 27px;
	font-size: 12px;
	line-height: 27px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	margin: 5px 5px 0;
}

.header span {
	font-weight: bold;
	font-size: 12px;
	line-height: 27px
}

.header img {
	float: left;
	width: 20px;
	margin: 4px 4px 0 4px
}


.box {	
	min-height: 150px;
	background-color:#EBEBEB;
	background: #EBEBEB url(ajax-loader.gif) no-repeat center center;
	width:360px;
	margin: 0 5px 0;
	padding: 3px 0 4px;
	border: 1px solid #ccc;
	border-top: 0;
}

.footer {
	color: #aaa;
	font-size: 10px;
	padding: 4px 5px 3px;
	-webkit-font-smoothing: subpixel-antialiased
}

.footer a {
	color: #666;
}

.footer .right a {
	margin-left: 4px
}

